.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.header__slot {
  width: 48px;
}

.header__title {
  font-size: 24px;
  font-weight: 700;
}

.header__btn {
  position: relative;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  flex-shrink: 0;
}
